body{
    background-color: aquamarine;
}
#com_Title{
    font-size: 50px;
    text-align: center;
    font: bold;
    color: royalblue;
    border: 0px solid green;
    padding-top: 0px;
    padding-bottom: 20px;
    margin: 0px;
}
label{
    font-size: 30px;
    margin-top: 80px;
}
#user_Guess{
    color: blueviolet;
    inline-size: 200px;
    text-decoration-line: underline;
}
#user_Submit{
    inline-size: 60px;
    margin-top: 5px;
}
#com_Comment{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 25px;
}
#com_Score{
    margin-top: 0px;
    padding-top: 0px;
}