.com_gameContainer{
    text-align: center;
    font-size: 20px;
}
.button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#user_over{
    display: none;
    font-size: 50px;
}